/* Limpar formatação padrão */
*{
	margin:0;
	padding: 0
}
body {
	font-size: 1em;
	font-family:"Trebuchet MS", Helvetica, sans-sefif;
	background: #e6e6e6;
}
/*Layout*/

#area-cabecalho {
	background: #f7b600;
	padding: 15px;
	text-align: center;
}

#arealogo, #areamenu {
	padding: 10px;
}
h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}
h2 {
	color: #f7b600;
}
h3 {
	color: #565656;
	background: #CCC;
	padding: 5px;
}
.datapostagem {
	font-size: 0.8em;
	padding-bottom: 20px;
	margin-bottom:10px ;
}
.branco {
	color: white;
}
#areaprincipal {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}
#areadepostagens {
	width: 660px;
	float: left;
}
#arealateral {
	width: 240px;
	float: right;
}
/*Formatação do menu*/
a:link, a:visited {
	color: #f7b600;
	padding: 8px 12px;
}
#area-cabecalho a:link, #area cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
}
#area-cabecalho a:hover {
	color: #f7b600;
	background: #FFF;
}
a {
	text-decoration: none;
}

.postagem1 {
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}
.conteudolateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}
.postagemlateal {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
}

#rodape {
	background: #ccc;
	clear: both;
	text-align: center;
	padding: 15px;
}

